<div class="card emendation">
  <div class="amendment__header">
    <div class="amendment__author">
      <%= cell('decidim/author', emendation_author, has_tooltip: true).(:profile_inline) %>
    </div>
    <div class="amendment__date">
      <%= created_at %>
    </div>
  </div>

  <div class="amendment__actions">
    <%= link_to compare_emendation_path, class: 'link' do %>
    <%= icon "magnifying-glass", class: "mobile", role: "img", "aria-label": t('decidim.enhanced_textwork.actions.show_details') %>
    <span class="sr-only"><%= t('decidim.enhanced_textwork.actions.show_amendment') %></span>
    <% end %>
  </div>
</div>