<% if paragraph.rejected? || paragraph.withdrawn? %>
  <div></div>
<% else %>
  <div id="paragraph-<%= paragraph.id %>-vote-button">
    <% if !current_user %>
      <% if current_settings.votes_blocked? %>
        <%= action_authorized_button_to :vote, paragraph_paragraph_vote_path(paragraph_id: paragraph, from_paragraphs_list: from_paragraphs_list, chevron_button: true), resource: paragraph, class: "light button--sc disabled", disabled: true, title: t("decidim.enhanced_textwork.paragraphs.vote_button.votes_blocked") do %>
          <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.votes_blocked") %></span>
          <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= paragraph.paragraph_votes_count || 0 %>
        <% end %>
      <% else %>
        <%= action_authorized_button_to :vote, paragraph_paragraph_vote_path(paragraph_id: paragraph, from_paragraphs_list: from_paragraphs_list, chevron_button: true), resource: paragraph, class: "light button--sc", data: { disable: true, "redirect-url": paragraph_path(paragraph) }, title: decidim_html_escape(present(paragraph).title) do %>
          <span class="show-for-sr"><%= decidim_html_escape(present(paragraph).title) %></span>
          <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= paragraph.paragraph_votes_count || 0 %>
        <% end %>
      <% end %>
    <% else %>
      <% if @voted_paragraphs ? @voted_paragraphs.include?(paragraph.id) : paragraph.voted_by?(current_user) %>
        <%= action_authorized_button_to(
          :vote,
          paragraph_paragraph_vote_path(paragraph_id: paragraph, from_paragraphs_list: from_paragraphs_list, chevron_button: true),
          resource: paragraph,
          method: :delete,
          remote: true,
          data: {
            disable: true,
            original: t("decidim.enhanced_textwork.paragraphs.vote_button.already_voted"),
            replace: t("decidim.enhanced_textwork.paragraphs.vote_button.already_voted_hover"),
            "redirect-url": paragraph_path(paragraph),
          },
          class: "light button--sc success",
          id: "vote_button-#{paragraph.id}",
          title: t("decidim.enhanced_textwork.paragraphs.vote_button.already_voted")
        ) do %>
          <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.already_voted") %></span>
          <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= paragraph.paragraph_votes_count || 0 %>
        <% end %>
      <% else %>
        <% if paragraph.maximum_votes_reached? && !paragraph.can_accumulate_supports_beyond_threshold && current_component.participatory_space.can_participate?(current_user) %>
          <%= content_tag :span, class: "light button--sc disabled", disabled: true, title: t("decidim.enhanced_textwork.paragraphs.vote_button.maximum_votes_reached") do %>
            <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.maximum_votes_reached") %></span>
            <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
            <%= paragraph.paragraph_votes_count || 0 %>
          <% end %>
        <% else %>
          <% if vote_limit_enabled? && remaining_votes_count_for(current_user) == 0 %>
            <%= content_tag :span, class: "light button--sc", disabled: true, title: t("decidim.enhanced_textwork.paragraphs.vote_button.no_votes_remaining") do %>
              <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.no_votes_remaining") %></span>
              <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
              <%= paragraph.paragraph_votes_count || 0 %>
            <% end %>
          <% elsif current_settings.votes_blocked? || !current_component.participatory_space.can_participate?(current_user) %>
            <%= content_tag :span, class: "light button--sc disabled", disabled: true, title: t("decidim.enhanced_textwork.paragraphs.vote_button.votes_blocked") do %>
              <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.votes_blocked") %></span>
              <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
              <%= paragraph.paragraph_votes_count || 0 %>
            <% end %>
          <% else %>
            <%= action_authorized_button_to :vote, paragraph_paragraph_vote_path(paragraph_id: paragraph, from_paragraphs_list: from_paragraphs_list, chevron_button: true), resource: paragraph, remote: true, data: { disable: true, "redirect-url": paragraph_path(paragraph) }, title: t("decidim.enhanced_textwork.paragraphs.vote_button.vote"), class: "light button--sc" do %>
              <span class="show-for-sr"><%= t("decidim.enhanced_textwork.paragraphs.vote_button.vote") %></span>
              <%= icon "chevron-top", class: "icon--small", role: "img", "aria-hidden": true %>
              <%= paragraph.paragraph_votes_count || 0 %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
